* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --txtColor: #697c9a;
  --txtColor2: #4b6a9b;
  --txtColor3: #222731;
  --txtColor4: #222731;
  --txtColor5: #2b3442;
  --txtcolor6: #0079ff;
  --txtColor7: #4b6a9b;
  --whiteColor: #fefefe;
  --whiteColor2: #f6f8ff;
  --btnColor: #0079ff;
  --red: #f74646;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
}

.main_page {
  max-width: 1440px;
  /*  */
  /* border: 2px solid black; */
  /*  */
  margin: 0 auto;
}

.dark_mode {
  margin: 0 auto;
  max-width: 730px;
  height: 38px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_mode > h1 {
  font-family: 'Space Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: var(--txtColor3);
}

.dark_mode .them_box {
  display: flex;
  align-items: center;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  color: var(--txtColor);
}

.them_box img {
  margin-left: 16px;
}

.iput_box {
  display: flex;
  align-items: center;
  max-width: 730px;
  height: 69px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  background-color: var(--whiteColor);
  box-shadow: 0px 16px 30px -10px #4660bb33;
  /* box-shadow: 0px 16px 30px -10px #4660bb33; */
}

.iput_box input {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor4);
}

.iput_box input::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor2);
}

.Search_btn {
  width: 106px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: center;
  background-color: var(--btnColor);
}

.iput_box img {
  margin-left: 32px;
}

.info {
  max-width: 730px;
  height: fit-content;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.users_info_box {
  margin: 0 auto;
  margin-top: 24px;
  padding: 44px 48px 32px 48px;
  display: flex;
}

.textContentInfo {
  margin-left: 37px;
  display: flex;
  flex-direction: column;
}

.users_info {
  display: flex;
  justify-content: space-between;
}

.person_name h2 {
  font-family: 'Space Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  line-height: 38.51px;
  color: var(--txtColor5);
}

.person_name p {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  color: var(--txtcolor6);
}

.users_info_box span {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.22px;
  text-align: right;
  color: var(--txtColor);
}

.bio {
  width: 480px;
  height: fit-content;
  margin-top: 20px;
  font-family: 'Space Mono', monospace;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor7);
}

.repos_folower {
  width: 480px;
  height: 85px;
  border-radius: 10px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whiteColor2);
}

.repos_folower ul {
  margin-right: 83px;
  display: flex;
}

.repos_folower ul li {
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.25px;
  text-align: left;
  color: var(--txtColor2);
}

.repos_folower ul li > span {
  font-family: 'Space Mono', monospace;
  font-size: 22px;
  font-weight: 700;
  line-height: 32.58px;
  text-align: left;
  color: var(--txtColor5);
}

.repos_folower ul li:first-child {
  margin-right: 99px;
}

.repos_folower ul li:last-child {
  margin-left: 82px;
}

.navbar {
  min-width: 480px;
  margin-top: 37px;
  display: flex;
}

.navbar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navbar ul li img {
  margin-right: 20px;
}

.second_nav {
  margin-left: 100px;
}

/*  */
/* js class */

.no_Esult {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.22px;
  text-align: left;
  color: #f74646;
}

/* js class */
/*  */

@media screen and (max-width: 735px) {
  .dark_mode {
    max-width: 573px;
    height: 38px;
  }

  .iput_box {
    max-width: 573px;
  }

  .info {
    max-width: 573px;
    min-height: 481px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .users_info_box {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textContentInfo {
    margin-left: 0px;
  }

  .users_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .users_foto {
    position: relative;
    left: -200px;
    bottom: 155px;
  }

  .users_info span {
    width: 175px;
    margin-top: 4px;
    text-align: left;
  }

  .position_absolute {
    position: absolute;
  }

  .bio {
    width: 493px;
    margin-top: 24px;
  }

  .repos_folower {
    width: 493px;
  }
}

@media screen and (max-width: 580px) {
  .dark_mode {
    max-width: 327px;
    height: 38px;
  }

  .iput_box {
    width: 327px;
    height: 60px;
  }

  .info {
    width: 327px;
    min-height: 517px;
  }

  .person_name h2 {
    font-size: 16px;
    height: 24px;
    margin-left: 90px;
    margin-bottom: 4px;
  }

  .person_name p {
    height: 24px;
    margin-left: 90px;
  }

  .users_info_box {
    padding: 32px 24px 48px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textContentInfo {
    width: 275px;
  }

  .users_info {
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .users_foto {
    width: 70px;
    height: 70px;
    position: relative;
    left: -120px;
    bottom: 210px;
  }

  .users_info span {
    width: auto;
    height: 24px;
    margin-top: 0px;
    margin-left: 90px;
    text-align: left;
  }

  .bio {
    width: 279px;
    margin-top: 33px;
  }

  .repos_folower {
    width: 279px;
    margin-top: 23px;
    justify-content: space-between;
  }

  .repos_folower ul {
    margin-right: 0px;
  }

  .repos_folower ul li:first-child {
    width: 79px;
    height: 48px;
    margin-right: 10px;
  }

  .repos_folower ul li:last-child {
    width: 89px;
    height: 48px;
    margin-left: 40px;
  }

  .navbar {
    min-width: 185px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }

  .second_nav {
    margin-left: 0px;
  }
}
