* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --txtColor: #697c9a;
  --txtColor2: #4b6a9b;
  --txtColor3: #222731;
  --txtColor4: #222731;
  --txtColor5: #2b3442;
  --txtcolor6: #0079ff;
  --txtColor7: #4b6a9b;
  --whiteColor: #fefefe;
  --whiteColor2: #f6f8ff;
  --btnColor: #0079ff;
  --btnHoverColor: #60abff;
  --notavaibleColor: #4b6a9b;
  --red: #f74646;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
}

.main_page {
  max-width: 1440px;
  margin: 0 auto;
}

.dark_mode {
  margin: 0 auto;
  max-width: 730px;
  height: 38px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_mode > h1 {
  font-family: 'Space Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: var(--txtColor3);
}

.dark_mode .them_box {
  display: flex;
  align-items: center;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  color: var(--txtColor);
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.dark_mode .them_box:hover {
  color: var(--txtColor3);
}

.them_box img {
  margin-left: 16px;
}

.logo {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}

.iput_box {
  display: flex;
  align-items: center;
  max-width: 730px;
  height: 69px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  background-color: var(--whiteColor);
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.iput_box input {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor4);
  cursor: pointer;
  outline: none;
}

.iput_box input::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor2);
}

.Search_btn {
  width: 106px;
  height: 50px;
  border-radius: 10px;
  padding: 0px 24px;
  border: none;
  margin: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: center;
  background-color: var(--btnColor);
  color: var(--whiteColor);
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.Search_btn:hover {
  background-color: var(--btnHoverColor);
}

.iput_box img {
  margin-left: 32px;
}

.display_grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
}

.gridBox_1 {
  grid-column: 1;
  grid-row: 1;
}

.gridBox_2 {
  grid-column: 2;
  grid-row: 1;
}

.gridBox_3 {
  grid-column: 2;
  grid-row: 1;
}

.gridBox_4 {
  grid-column: 2;
  grid-row: 3;
}

.gridBox_5 {
  grid-column: 2;
  grid-row: 4;
}

.info {
  display: none;
  max-width: 730px;
  height: fit-content;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 24px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.users_info_box {
  margin: 0 auto;
  padding: 44px 48px 32px 48px;
}

.position_absolute {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  overflow: hidden;
}

.users_foto {
  width: 117px;
  height: 117px;
  object-fit: cover;
  background-position: center;
}

.textContentInfo {
  margin-left: 37px;
  display: flex;
  flex-direction: column;
}

.users_info {
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person_name {
  display: flex;
}

.person_name h2 {
  font-family: 'Space Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  line-height: 38.51px;
  color: var(--txtColor5);
}

.person_name p {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  color: var(--txtcolor6);
}

.person_name > span {
  margin-left: 138px;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.22px;
  text-align: right;
  color: var(--txtColor);
}

.bio {
  width: 480px;
  height: fit-content;
  margin-top: 83px;
  margin-left: 37px;
  font-family: 'Space Mono', monospace;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--txtColor7);
}

.repos_folower {
  width: 480px;
  height: 85px;
  margin-left: 37px;
  border-radius: 10px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteColor2);
}

.repos_folower ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repos_folower ul li {
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.25px;
  text-align: left;
  color: var(--txtColor2);
}

.repos_folower ul li > span {
  font-family: 'Space Mono', monospace;
  font-size: 22px;
  font-weight: 700;
  line-height: 32.58px;
  text-align: left;
  color: var(--txtColor5);
}

.first_li {
  margin-left: 32px;
}

.last_li {
  margin-right: 83px;
}

.navbar {
  min-width: 480px;
  margin: 37px 0px 0px 37px;

  display: flex;
}

.navbar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.22px;
  text-align: left;
  color: var(--txtColor7);
}

#twiter {
  width: 150px;
}

#workpalace {
  width: 150px;
}

.navbar ul li img {
  margin-right: 20px;
}

.second_nav {
  margin-left: 65px;
}

/*  */

/* js class */

.no_REsult {
  display: none;
  width: 100px;
  font-family: 'Space Mono';
  font-size: 15px;
  font-weight: 700;
  line-height: 22.22px;
  text-align: center;
  color: var(--red);
}
.no_REsultDislay {
  display: block !important;
}

.notAvaible {
  color: var(--notavaibleColor);
  opacity: 0.7;
}

.atag {
  text-decoration: none;
  color: var(--txtColor7);
}
.atag:hover {
  text-decoration: underline;
}

.displayNone {
  display: none;
  color: white;
}

.displayBlock {
  display: block !important;
}

/* js class */

/*  */

@media screen and (max-width: 790px) {
  .dark_mode {
    max-width: 573px;
    height: 38px;
  }

  .iput_box {
    max-width: 573px;
  }

  .info {
    max-width: 573px;
    height: fit-content;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 24px;
    box-shadow: 0px 16px 30px -10px #4660bb33;
  }

  .users_info_box {
    margin: 0 auto;
    padding: 40px;
  }

  .users_info {
    height: 117px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 159px;
  }

  .display_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }

  .gridBox_1 {
    grid-column: 1;
    grid-row: 1;
  }

  .gridBox_2 {
    grid-column: 2;
    grid-row: 1;
  }

  .gridBox_3 {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gridBox_4 {
    grid-column: 1/3;
    grid-row: 3;
  }

  .gridBox_5 {
    grid-column: 1/3;
    grid-row: 4;
  }

  .person_name {
    flex-direction: column;
  }

  .person_name > span {
    margin-left: 0px;
    text-align: left;
  }

  .bio {
    width: 493px;
    margin-top: 24px;
    margin-left: 0px;
  }

  .repos_folower {
    margin-left: 0px;
    margin-top: 30px;
  }

  .navbar {
    margin: 40px 0px 0px 0px;
  }
}

/*  */

@media screen and (max-width: 620px) {
  .dark_mode {
    max-width: 327px;
    height: 38px;
  }

  .iput_box {
    width: 327px;
    height: 60px;
  }

  .iput_box input {
    padding-left: 7px;
  }

  .iput_box input::placeholder {
    font-size: 13px;
  }

  .Search_btn {
    width: 84px;
    height: 46px;
    font-size: 14px;
    margin: 7px;
    padding: 12px 12px 12px 12px;
  }

  .iput_box img {
    margin-left: 16px;
  }

  .info {
    max-width: 327px;
    margin-top: 16px;
  }

  .users_info_box {
    margin: 0 auto;
    padding: 32px 24px 48px 24px;
  }

  .users_info {
    height: 117px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .person_name h2 {
    font-size: 16px;
    line-height: 23.7px;
  }

  .person_name p {
    font-size: 13px;
    line-height: 19.25px;
  }

  .person_name > span {
    font-size: 13px;
    line-height: 19.25px;
  }

  .bio {
    width: 279px;
    margin-top: 24px;
    margin-left: 0px;
    font-size: 13px;
  }

  .repos_folower {
    width: 279px;
  }

  .repos_folower ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .repos_folower ul li {
    font-size: 11px;
    line-height: 16.29px;
  }

  .repos_folower ul li > span {
    font-size: 16px;
    line-height: 23.7px;
    text-align: center;
  }

  .first_li {
    margin-left: 15px;
  }

  .last_li {
    margin-right: 15px;
  }
  .navbar {
    min-width: 185px;
    flex-direction: column;
  }

  .navbar ul li {
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.25px;
    text-align: left;
  }

  .navbar ul li img {
    margin-right: 20px;
  }

  .second_nav {
    margin-left: 0px;
  }
}
